
body {
    background-color: #DEA99E;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}







@media only screen and (max-width: 600px){
h1 {
    color: black;
    text-align: center;
    font-family: cursive;
}
    

h2 {
    color: black;
    text-align: center;
   
    font-family: cursive;
    
    
    
}

p{
    text-align:center;
    font-size: 30px;
    text-decoration: underline;
    background-color: #B0F4DE;
    font-family: sans-serif;
    
    
    
}

}